.button {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  min-width: 210px;
  height: 48px;
  font-size: 1rem;
  border-radius: 1px;
  cursor: pointer;
  transition: 0.25s;
}

.button:focus {
  outline: none;
}

.button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}
