.text {
  line-height: 1.5;
  font-weight: bold;
  color: #212121;
  white-space: pre-wrap;
  margin-top: 12px;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .text {
    font-size: 1.25rem;
  }
}
