---
import Footer from '../Footer';
import Header from '../Header';
import DownloadSection from '../sections/Download.astro';
import OSSSection from '../sections/OSS';
import ServiceAreaSection from '../sections/ServiceArea.astro';
import TabletSection from '../sections/Tablet.astro';
import WearableSection from '../sections/Wearable.astro';
import WelcomeSection from '../sections/Welcome.astro';

const { lcpImage } = Astro.props;
---

<main>
  <Header />
  <WelcomeSection lcpImage={lcpImage} />
  <ServiceAreaSection />
  <TabletSection />
  <WearableSection />
  <OSSSection />
  <DownloadSection />
  <Footer />
</main>
