.root {
  background-color: #f4f6fa;
  text-align: center;
  padding: 32px;
}

.copyright {
  color: #555;
}

.link {
  display: block;
  color: #555;
  text-decoration: none;
  margin-bottom: 16px;
  font-size: 0.9rem;
}
