.heading {
  line-height: 1.5;
  text-align: center;
}
.modalOverlay {
  position: fixed;
  inset: 0;
  top: 48px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContent {
  background-color: white;
  height: 100%;
  padding: 32px;
}
.headerContainer {
  display: flex;
  justify-content: flex-end;
}
.closeIcon {
  width: 16px;
  height: 16px;
}
.circle {
  background-color: #fcfcfc;
  border: 1px solid #eee;
  border-radius: 50%;
  width: 128px;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.imageContainer {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.heading {
  text-align: center;
  font-size: 1.25rem;
  color: #333;
  margin-top: 32px;
}

.text {
  text-align: center;
  line-height: 1.5;
  margin-top: 12px;
  font-size: 0.9rem;
}

.headerContainer {
  padding: 32px 0px;
  margin-bottom: 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close {
  appearance: none;
  border: 2px solid #555;
  background-color: white;
  border-radius: 32px;
  color: #555;
  font-weight: bold;
  font-size: 1rem;
  padding: 8px 32px;
  margin: 32px auto 0 auto;
  display: block;
  font-size: 0.9rem;
  outline: none;
}

.link {
  border: 2px solid #03a9f4;
  background-color: white;
  border-radius: 32px;
  color: #03a9f4;
  font-weight: bold;
  font-size: 1rem;
  padding: 12px 24px;
  margin: 32px auto 0 auto;
  display: block;
  font-size: 0.9rem;
  display: block;
  text-decoration: none;
}

@media (min-width: 800px) {
  .modalOverlay {
    top: 0;
  }
  .modalContent {
    background-color: white;
    width: 25%;
    height: auto;
    padding: 32px;
    border-radius: 8px;
  }
  .closeIcon {
    cursor: pointer;
  }

  .headerContainer {
    margin-bottom: 32px;
    padding: 0 0px;
  }
  .close {
    cursor: pointer;
  }
}
