.root {
  padding: 64px 32px 128px 32px;
}
.title {
  text-transform: uppercase;
  color: #555;
}
.subtitle {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 8px;
  color: #333;
  margin-bottom: 16px;
}

.title,
.heading,
.text {
  text-align: center;
}

.text {
  line-height: 1.5;
  text-align: center;
  color: #212121;
  margin-top: 18px;
}

.invite {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}
