.firstView {
  min-height: 100vh;
  background: #333;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.firstViewContent {
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
.appNameTitle {
  font-size: 2rem;
  margin-top: 32px;
  padding: 0 32px;
}

.appDescription {
  margin-top: 12px;
  font-weight: normal;
  text-align: center;
  line-height: 1.5;
  white-space: pre-wrap;
  padding: 0 32px;
}
.mockup {
  width: 75%;
}
.stores {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}
.store {
  margin: 0 8px;
}
.arrow {
  margin-top: 64px;
}

@media (min-width: 800px) {
  .mockup {
    max-width: 30%;
  }
  .arrow {
    position: absolute;
    bottom: 32px;
    cursor: pointer;
    bottom: 64px;
  }
}

.icon {
  height: 50px;
}
