.container {
  min-height: 100vh;
  position: relative;
  padding: 0 32px;
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 0;
    padding: 0 64px;
  }
}

.texts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .texts {
    flex: 1;
    height: 100%;
    margin-bottom: 80px;
  }
}

.colored {
  color: #1565c0;
}

.heading {
  line-height: 1.25;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .heading {
    font-size: 3rem;
  }
}

.description {
  line-height: 1.5;
  font-weight: bold;
  color: #212121;
  margin-top: 12px;
  white-space: pre-wrap;
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  .description {
    color: #444444;
    font-size: 1rem;
  }
}

.mockup {
  position: relative;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .mockup {
    justify-content: center;
    flex: 0.75;
  }
}

.ringsPc {
  position: absolute;
  right: -64px;
  bottom: -32px;
  z-index: 0;
  display: none;
}

@media (min-width: 1024px) {
  .ringsPc {
    display: block;
  }
}

.ringsSp {
  position: absolute;
  right: -32px;
  top: -32px;
  z-index: 0;
}

@media (min-width: 1024px) {
  .ringsSp {
    display: none;
  }
}

.button {
  appearance: none;
  background-color: #1565c0;
  width: 180px;
  height: 48px;
  border: none;
  border-radius: 48px;
  color: #ffffff;
  font-weight: bold;
  margin-top: 32px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.desktopButton {
  display: none;
}

@media (min-width: 1024px) {
  .desktopButton {
    display: inline-flex;
  }

  .mobileButton {
    display: none;
  }
}
